<% @articles.each do |article| %>
<h3><%= article.title %></h3>
<p>
<%= article.content.truncate(20) %>
<%= link_to 'read more', article_path(article.id) %>
<span> | </span>
<span><%= link_to 'edit', edit_article_path(article.id) %><span>
<span> | </span>
<span><%= link_to 'delete', article_path(article.id), method: "DELETE", data: {confirm: 'Delete this data ? '} %><span>
</p>
<h4>status : <%= article.status %></h4>
<hr/>
<% end %>
<div>
<%= link_to "add new", new_article_path %>
<span> | </span>
<%= link_to "sign up", sign_up_path %>
</div>
